* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes example {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

.titulo{
  text-align: center;
}
.titulo:hover{
  color: #ebe7e7;
}

.module {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 30%;
}

.module h2 {
  margin-top: 0;
}

.coluna {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 20px 0;
}

.coluna li {
  font-size: 20px;
  list-style: none;
  margin: 10px;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.coluna li:hover {
  background-color: #555;
}

#anima {
  position: relative;
  animation-name: example;
  animation-duration: 4s;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  height: 500px;
  margin-bottom: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 20px;
}
.submenu {
  margin-left: 30px;
  margin-bottom: 20px;
}

.module {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.module h2 {
  margin-bottom: 1rem;
}

.module ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.module li {
  margin: 0.5rem;
}

.menu {
  margin-top: -1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 100%;
  padding: 20px;
  background-color: #444;
  transition: background-color 0.3s ease;
}

.menu:hover {
  background-color: #555;
}

.menu a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
  display: inline-block;
}

.menu a:hover {
  color: #ddd;
  transform: scale(1.1);
}

.logo {
  height: 50px;
}

h1,
h2 {
  color: #ddd;
  text-align: center;
  margin-top: 20px;
}

p {
  color: #bbb;
  text-align: center;
}

a {
  color: #ddd;
  text-decoration: none;
  display: block;
  text-align: center;
  margin: 10px 0;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 20px 0;
}

li {
  font-size: 20px;
  list-style: none;
  margin: 10px;
  padding: 10px;
  transition: background-color 0.3s ease;
}
li :hover {
  background-color: #555;
}
.links {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
  display: inline-block;
}

.links:hover {
  color: #ddd;
  transform: scale(1.1);
}

.copyright {
  color: #ffffff;
  font-size: 13px;
  margin: 20px 0 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: auto;
  right: auto;
  text-align: center;
  padding: 10px;
  width: 100%;
  background-color: rgb(41, 40, 40);
}
